<!DOCTYPE html>
<html>
<head>
    <title>GREEN BOAT</title>
</head>
<body>
    <h1>Hello, </h1>
    <p>Bienvenue sur le serveur {{ ansible_hostname }}!</p>
    <p>Utilisation de <b>Playbook Ansible</b> pour déployer des solutions
    <ul>
    <li>Nom du serveur: {{ ansible_hostname }}</li>
    <li>Systeme d'exploitation: {{ ansible_distribution }}, distribution: {{ ansible_distribution_version }}</li>
    </ul></p>
</body>
</html>
